1 报价的组成
报价=成本+利润
其中：成本是由面料、辅料、钓染、加工四部分的费用所组成的；利润通常是成品的某个百分比（利润率），例如20%。


2 成本计算
成本= 面料总价 + 辅料总价 + 钓染总价 + 加工费 + 运输费

面料总价计算
面料总价 = 面料单价 * 成品数量 * 料率
  面料单价：单位是（??），面料单价和面料的种类有关，也和面料供货商以及要求的面料后处理相关，详见面料分类
  成品数量：交付衣物的件（套）数
  料率：每件（套）衣物需要的面料单位数（如3.4表示每件衣服需要3.4单位面料）

辅料总价计算
辅料总价=SUM（某类辅料单价*某类辅料数量）
  辅料使用的种类和数量根据衣物的不同而不同，辅料大致可分为：（??）类，每一类辅料的价格形成因素均可不同，总价是所有使用到的每类辅料总价的总合。

钓染总价计算
钓染总价=钓染单价*成品数量
  钓染单价：单位是（），根据钓染方法不同而不同。

加工费计算
加工费=加工费单价*成品数量
  加工费单价：每件（套）成品的加工价格，根据加工厂和要求质量的不同而不同

运输费计算
  ??


3 功能需求
包括的功能：
价格管理：面料单价、辅料单价、钓染单价、加工费单价的管理
价格生成：根据历史数据和趋势推测当前单价
价格查询：根据面料、辅料、钓染、加工等的选择条件选择（准确的或推测的）单价
客户简要（profile）管理：管理每个客户对各个工序质量的需求序列集合，用于自动配置价格查询的条件，以方便的产生单价
价格预览：产生报价时，向用户提供详细的价格组成要素，方便用户改错；提供实时修改的功能，并分为简单和高级两种级别的详细程度

不包括的功能：
料率计算和管理：无料率计算功能，每次计算时需要自己录入
税率：计算的价格未包括税务方面的内容
历史数据统计分析：未包括分析功能
用户管理和安全性：未涉及用户管理和安全性方面的内容
数据备份：不包含，但可用数据库工具备份和恢复
操作审计与重做：不包含
与其他系统结合：未包含与ERP或CRM系统的结合的内容，即客户、供货商、加工厂、钓染厂等无法自动与外部系统互动

4 性能需求

访问量：未定义
并发量：未定义
价格数量：未定义


5 技术需求

以bs方式提供服务，
web服务端开发语言：PHP（5.3）
js脚本库：jquery、jquery ui
用户界面：html、js
数据库：mysql




