1 报价的组成
报价=成本+利润
其中：成本是由面料、辅料、加工、后处理（绣花、印花、扎染、钓染、洗水）、包装
利润通常是成品的某个百分比（利润率），例如20%。
有些衣物需要特殊工序，因此在成本基础上还有加上一个数

2 成本计算

条件：
面料单价=棉纱*染损+染费
面料品质（规格）：多少克的汗布（180克的只有32支(s)——每英寸有多少针)
支（s)：每英寸多少针，特指面
旦(D)：涤纶、锦纶用旦作单位，300D

尺码表：单耗（料率），不同的客人不同的表示方法
上衣=最长*最宽
袖子=袖高*袖肥（或袖宽，袖肥的一半）
裤子=横档宽（腿围）*裤长*小数调节，袖口折边高，缝份高1cm
领子=领围*领宽
兜子=兜宽*兜长
但是贴边等的布料无法计数，因此需要一个小数调节
帽子=冒长*（帽宽+帽口折边高）*2
裙子=裙长*下摆，但可能有多片
还有特殊情况，如高腰裤，还要算腰，有些腰是2层布，所以还需要程2
（腰宽（+2cm）*2+裤长（不含腰宽，+4cm））+2cm*腿肥（腿围）
（腰宽，裤长，腿肥）
裤口折边2.5，如果裤脚是个宽边，就不止是加4，裤口折边高（一般是2.5，西服是3，也可能其他），没特殊规定的上边的缝份1cm，后裤裆2cm，但不影响料率
问题：美国客人报英寸（2.54厘米），英国用厘米
面料厂报的是米价，如：1.5幅宽的每米30元
纱向（丝道）问题：一般是按照纱线经纬铺料，但有些衣服必须不按经纬铺料


款式图：加工费：分序——上腰，上腰袋，口袋，裤脚
倒推法：按工人工时算
例如每天能做1800件，每组20人，每个工人每月1800元，则
日产量是：
车位数：
总人数：
日产量：根据款式不同会有所不同
车位工资：
工人数：20
每工人日工资：60
工厂人数：35
车位：60
利润率：1.2 管理费用
每日费用：
35/20 * 60 * 1.2 *20 = 2600 
加工费=每件费用=2600/1800

辅料：照片或说明
3号/4号/5号，开尾/闭尾，树脂/金属/尼龙，自动头/半自动头，葫芦片/方口片，有logo，20公分以下/8公分以下XX元、每增加1cm加XX，拉链，开模费
24L=1.5cm，铜/树脂/朔料/锌合金 扣子


包装：

针织
梭织
成本= 面料总价 + 辅料总价 + 钓染总价 + 加工费 + 运输费

面料总价计算
面料总价 = （面料单价 * 料率）* 成品数量 
  面料单价：面料的单位不一定是平方米，面料一般按照长度报价，如每米30元，但面料的幅宽不同，因此每平方米的单价和报价可能不同，例如幅宽为1.5米，那么面料实际是每1.5平方米30元，等价于20元每平方米；计算料率时，也是按报价单位计算的（实际和平方米等价），面料单价和面料的种类有关，也和面料供货商以及要求的面料后处理相关，详见面料分类。面料也可按码报价（1码=
  成品数量：交付衣物的件（套）数
  料率：每件（套）衣物需要的面料单位数（如3.4表示每件衣服需要3.4单位面料）

辅料总价计算
辅料总价=SUM（某类辅料单价*某类辅料数量）
  辅料使用的种类和数量根据衣物的不同而不同，辅料大致可分为：（??）类，每一类辅料的价格形成因素均可不同，总价是所有使用到的每类辅料总价的总合。

钓染总价计算
钓染总价=钓染单价*成品数量
  钓染单价：单位是（），根据钓染方法不同而不同。

加工费计算
加工费=加工费单价*成品数量
  加工费单价：每件（套）成品的加工价格，根据加工厂和要求质量的不同而不同

运输费计算
  ??


3 功能需求
包括的功能：
价格管理：面料单价、辅料单价、钓染单价、加工费单价的管理
价格生成：根据历史数据和趋势推测当前单价
价格查询：根据面料、辅料、钓染、加工等的选择条件选择（准确的或推测的）单价
客户简要（profile）管理：管理每个客户对各个工序质量的需求序列集合，用于自动配置价格查询的条件，以方便的产生单价
价格预览：产生报价时，向用户提供详细的价格组成要素，方便用户改错；提供实时修改的功能，并分为简单和高级两种级别的详细程度

不包括的功能：
料率计算和管理：无料率计算功能，每次计算时需要自己录入
税率：计算的价格未包括税务方面的内容
历史数据统计分析：未包括分析功能
用户管理和安全性：未涉及用户管理和安全性方面的内容
数据备份：不包含，但可用数据库工具备份和恢复
操作审计与重做：不包含
与其他系统结合：未包含与ERP或CRM系统的结合的内容，即客户、供货商、加工厂、钓染厂等无法自动与外部系统互动

4 性能需求

访问量：未定义
并发量：未定义
价格数量：未定义


5 技术需求

以bs方式提供服务，
web服务端开发语言：PHP（5.3）
js脚本库：jquery、jquery ui
用户界面：html、js
数据库：mysql




